@import "tailwindcss";

:root {
  --background: #020617; /* Arka planı koyu yaptım */
  --foreground: #ffffff;
}

/* Tailwind ayarları */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Koyu mod zorunlu olsun, atçılık sitesi dark mode daha şık duruyor */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Fontu modernleştirelim */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Sağa sola taşmayı engelle */
}